<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574799779014-ec7vgiei40nfe8aukvgs9fq6a2tm85ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574799779014-ec7vgiei40nfe8aukvgs9fq6a2tm85ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBem-5mep8zsrcmjjiEX_NuzAWEfm3uVow</string>
	<key>GCM_SENDER_ID</key>
	<string>574799779014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stealthy-im</string>
	<key>PROJECT_ID</key>
	<string>coldmessage-ae5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>coldmessage-ae5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574799779014:ios:4f36b6961aa5da87</string>
	<key>DATABASE_URL</key>
	<string>https://coldmessage-ae5bc.firebaseio.com</string>
</dict>
</plist>